body {
    width: 420px;
    padding: 18px
}

label {
    display: inline;
    font-weight: normal;
    cursor: pointer;
}

input[type=checkbox] {
    margin-right: 5px;
}

.btn, .btn:active, .btn:hover {
    outline: none!important;
}

.btn-xs {
    padding: 0 5px 0;
    font-size: 11px;
}

.panel {
    border: none;
}

.panel-heading {
    padding: 3px 10px;
}

.panel-body {
    padding: 5px 10px;
}

.btn-toolbar > .btn-group.controls {
    margin-left: 44px;
}

.label-year {
    margin-left: 18px;
    font-weight: bold;
    cursor: default;
    font-size: 14px;
}

.text-container {
    width: 80%;
    text-align: left;
}

.download-container {
    width: 20%;
    text-align: right;
}

#preloader > img {
    margin: 25px 142px;
}

#addContainer {
    margin-top: 18px;
    padding: 10px 0;
}

#compilations {
    margin-top: 10px;
    margin-bottom: 18px;
}

#errorContainer, #downloadContainer {
    padding: 10px 0;
}

#downloadContainer {
    padding-top: 20px;
    font-size: 12px;
}

#startDownloadBtn, #downloadTop10Tracks {
    display: block;
    margin: 0 auto;
}
