body {
    margin-top: 0;
    margin-left: 35px;
}

h3 {
    margin-left: -18px;
}

select {
    width: 94px;
}

input[type=checkbox] {
    margin-top: -4px;
    margin-right: 8px;
}

table {
    border-spacing: 0;
}

tbody::after {
    content: '';
    display: block;
    height: 10px;
}

tr {
    height: 28px;
}

td:nth-child(2) {
    padding-left: 10px;
}

span.dotted {
    border-bottom: 1px dashed #999;
    text-decoration: none;
}
